{% extends "base.html" %}
{% block body %}
  {% if session.logged_in %}
  <aside>
  <div class="which_article">New Article</div>
  <form action="{{ url_for('add_entry') }}" method="POST" class="add_entry">
    <div class="field">
      <label for="title">Title</label>
      <input type="text" size="30" name="title" id="title"/>
    </div>
    <div class="field">
      <label for="text">Text</label>
      <textarea name="text" id="text" rows="5" cols="80"></textarea>
    </div>
    <div class="control_row">
      <input type="hidden" value="" id="0"/>
      <input type="submit" value="Share" name="Share"/>
    </div>
  </form>
  </aside>
  {% endif %}
  <h2 style="text-align:center">Entries</h2>
  {% for entry in entries %}
  <article class="entry" id="{{entry.id}}">
    <h3>{{ entry.title }}</h3>
    {% if session.logged_in %}
      <input type="button" id="{{ entry.id }}" class="edit" value="Edit"/>
    {% endif %}
    <p class="dateline">{{ entry.created.strftime('%b, %d, %Y') }}</p>
    <div class="entry_body">
      {{ entry.text|safe }}
    </div>
  </article>
  {% else %}
  <div class="entry">
    <p><em>No entries here so far</em></p>
  </div>
  {% endfor %}
{% endblock %}